{% trans_default_domain 'FOSUserBundle' %}

<div class="container" align="center">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-signin' } }) }}
      <img class="mb-4" src="https://symfony.com/images/logos/sf-positive.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>  
    {{ form_errors(form.current_password) }}
    {{ form_widget(form.current_password, {'attr': {'placeholder': 'form.current_password', 'class': 'form-control mb-1'} }) }}
    {{ form_errors(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'form.new_password', 'class': 'form-control mb-1'} }) }}
    {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'form.new_password_confirmation'} }) }}
    <div>
        <input type="submit"  class="btn btn-lg btn-dark btn-block" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
