{% extends 'base.html.twig' %}

{% block title %} {{user.username}} {% endblock %}

{% block body %}
            
    <div class="container" align="center">
    <div class="form-signin" align="center">
        <img src="{{ user.gravatar }}"class="rounded-circle" width="140" height="140" border="0" ></a>
        <h3 class="media-heading"><small>@</small>{{ user.username }}</h3>
        <span><strong>Email :</strong></span>
        <span class="label label-warning">{{ user.email }}</span>

    {% if is_granted('ROLE_USER') and user !=app.user %}
    {% if user.followers.contains(app.user) %}
<a href="{{path('following_unfollow',{'id': user.id })}}" class="btn btn-outline-danger"
    style=  "margin-bottom: 10px;
            margin-top: 5px;">Unfollow</a>
    {% else %}
<a href="{{path('following_follow',{'id': user.id })}}" class="btn btn-outline-primary"
    style=  "margin-bottom: 10px;
            margin-top: 5px;">Follow</a>
    {% endif %}
    {% endif %}
</h1>
<div>
<div>
<table class="table">
  <thead>
    <tr align='center'>
      <th>Followers</th>
      <th>Following</th>
    </tr>
  </thead>
<tbody>
<tr>
<td align='center'>
<!-- Button trigger modal -->
<button  data-toggle="modal" data-target="#user_followers">
  {{user.followers | length}}
</button>

<!-- Modal -->
<div class="modal fade" id="user_followers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Followers of {{user.username}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            {% for follower in user.followers %}
            <a href="{{path('user_profile',{'id': follower.id })}}">@{{follower.username}}</a>
            {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</td>

<td align='center'>
<!-- Button trigger modal -->
<button  data-toggle="modal" data-target="#user_following">
{{user.following | length}}
</button>

<!-- Modal -->
<div class="modal fade" id="user_following" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{user.username}} is Following</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for follow in user.following %}
        <a href="{{path('user_profile',{'id': follow.id })}}">@{{follow.username}}</a>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</td>

</tr></tbody></table>
</div>

    </div></div>


{% endblock %}